@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

@import 'blocks/page';
@import 'blocks/buttons';
@import 'blocks/form';
@import 'blocks/popup';
@import 'blocks/media';